<app-menu></app-menu>
<div class="body">
<div class="row justify-content-center">
    <div class="col-auto">
    <table class="table table-bordered Table">
        <thead>
            <th scope="col">AuditID</th>
            <th scope="col">Project Execution Status</th>
            <th scope="col">Remedial Action Duration</th>
        </thead>
        <tbody>
            <tr [style.background]="projectStatus==true? 'green': 'red'">
                <td>{{this.auditResponse.auditId}}</td>
                <td>{{this.auditResponse.projectExecutionStatus}}</td>
                <td>{{this.auditResponse.remedialActionDuration}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>