<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="#" class="navbar-brand">
           Audit Management System</a></div>

         <ul class="navbar-nav">
            <li><a *ngIf="appMenuService.athome" routerLink="/home" class="nav-link">Home</a></li>
            <li><a *ngIf="appMenuService.atquestions" routerLink="/questions" class="nav-link">Questions</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
                <!-- <li><a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li> -->
                <li><a *ngIf="appMenuService.atlogout" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>